<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--<-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
			body{
				font-size: 18px;
			}
			[v-cloak] { display: none }
		</style>
		

	</head>
	<body>
		<div class="container" id="app" style="padding-top: 15px;" v-cloak>
			<br />
			<p>
				<span v-text="text"></span> 
				简写：<span v-pre>{{text}}</span>
			</p>
			<p>
				<span v-html="html"></span>
				简写：<span v-pre>{{{html}}}</span>
			</p>
			<br />
			<form action="">
				<div class="row">
					<div class="form-group col-xs-3">
					    <label for="exampleInputEmail1">账号:{{account}}</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入账号" v-model="account">
				    </div>
				    <div class="form-group col-xs-3">
					    <label for="exampleInputPassword">密码:{{password}}</label>
					    <input type="email" class="form-control" id="exampleInputPassword" placeholder="请输入账号" v-bind:value="password" v-on:input="password = $event.target.value">
				    </div>
				</div>
			</form>
			<p class="bg-danger" style="padding: 15px;">
				<strong>v-model:</strong>v-model只不过是一个语法糖。仔细对比账号和密码插值表达式的区别。
			</p>
			<br />
			<div class="bs-example">
				<div  style="margin-bottom: 15px;">
					<div class="btn-group">
					  <button type="button" class="btn btn-primary" v-on:click="show('isif')">v-if和v-else</button>
					</div>
					<div class="btn-group">
					 	 <button type="button" class="btn btn-danger" @click="show('isshow')">v-show</button>					
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-left" style="width: 100px;">
						<p v-if="isif">你好</p>
						<p v-else>不好了</p>
					</div>
					<div class="pull-left">
						<p v-show="isshow"> hello word</p>
					</div>
				</div>
			</div>
			
			<div class="" >
				<p class="bg-danger" style="padding: 15px;">
					<strong>v-show和v-if的区别:</strong>v-show通过样式（display：none）控制元素隐藏
					而v-if会操作dom元素，会引起性能消耗。
				</p>
			</div>
			<br />
			<h3>v-for的使用</h3>
			<table class="table table-striped">
			  <tr>
			  	<th>序号</th>
			  	<th>姓名</th>
			  	<th>性别</th>
			  	<th>年龄</th>
			  </tr>
			  <tr v-for="(item,index) in tablelist" v-bind:key="index">
			  	<td>{{(index+1)}}</td>
			  	<td>{{item.name}}</td>
			  	<td>{{item.sex}}</td>
			  	<td>{{item.age}}</td>
			  </tr>
			</table>
			<p class="bg-danger" style="padding: 15px;">
				<strong>v-for的key的作用:</strong>给每个节点做一个唯一标识,Diff算法就可以正确的识别此节点,为了高效的更新虚拟DOM。
			</p>
			<p class="bg-danger" style="padding: 15px;">
				<strong>解决差值表达式闪烁的问题:</strong>v-cloak指令保持在元素上直到关联vue实例结束便宜之后自动移除
			</p>
			<br />
			<h3>v-on 事件绑定及修饰符</h3>
			<div>
				<div class="btn-group">
				  <button type="button" class="btn btn-info" @click="clickBtn()">点击</button>
				</div>
				<a href="https://www.baidu.com" @click.prevent>阻止跳转百度网页</a>
			</div>
			<br />
			<h3>自定义指令(v-focus v-color)   默认聚焦状态</h3>
			<input type="text" v-focus="" v-color="'#2aba83'" value="自定义指令"/>
		</div>
		<br />
		<br />
		<br />
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	
	<script type="text/javascript">
		
	// 注册一个全局自定义指令 `v-focus`
	Vue.directive('focus', {
	  // 被绑定元素插入父节点时调用
	  inserted: function (el) {
	    // 聚焦元素
	    el.focus()
	  }
	})	
	Vue.directive('color', function (el, binding) {
	  el.style.color = binding.value;
	})	
	var vm = new Vue({
			el:"#app",
			data:{
				text: "v-text 指令",
				html: "<strong>v-html 指令</strong>",
				account: "",
				password:"",
				isif: true,
				isshow: true,
				tablelist:[
				  {name:"张三",sex:"男",age:"23"},{name:"小红",sex:"女",age:"20"},{name:"小明",sex:"男",age:"26"},{name:"小王",sex:"男",age:"18"},{name:"小王",sex:"男",age:"18"}
				]
			},
			methods:{
				show: function(val){
					this[val] = !this[val];
				},
				clickBtn: function(){
					alert("你点击了按钮")
				}
			}
		})
	</script>
</html>
